name: mini-gpt2
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - numpy
  - pandas
  - tensorflow
  - matplotlib
  - pip
  - pip:
      - tiktoken
      - jupyter
      - tqdm
